In [175]:
import pandas as pd
import seaborn as sns

path = "C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/"
#Test sur le csv concat
D = pd.read_csv(filepath_or_buffer= path + "concat.csv", sep="|", decimal=",")

C:\Users\pierr\AppData\Local\Temp\ipykernel_6864\2726120493.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  D = pd.read_csv(filepath_or_buffer= path + "concat.csv", sep="|", decimal=",")

# Data set de base

In [176]:
df = D

In [177]:
df.shape

(1979261, 15)

In [178]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,04/01/2018,Vente,90000.0,RUE,1380.0,SAINT-CYR-SUR-MENTHON,1,343,0,1.0,Maison,150.0,3.0,1,347.0
1,04/01/2018,Vente,67000.0,ALL,1000.0,BOURG-EN-BRESSE,1,53,1,2.0,Appartement,45.0,1.0,0,0.0
2,11/01/2018,Vente,76200.0,RUE,1000.0,BOURG-EN-BRESSE,1,53,2,2.0,Appartement,68.0,3.0,0,0.0
3,12/01/2018,Vente,130000.0,RUE,1160.0,VARAMBON,1,430,0,1.0,Maison,80.0,3.0,1,55.0
4,16/01/2018,Vente,224750.0,RUE,1160.0,PRIAY,1,314,0,1.0,Maison,115.0,5.0,1,673.0

In [179]:
df = df.drop(labels=['Code type local', 'Nature culture', 'Nature mutation','Nombre de lots'], axis=1)

In [180]:
d_type = {
    'Commune' : 'str',
    'Code commune' : 'str',
    'Code departement' : 'str',
    'Code postal' : 'str',
    'Valeur fonciere' : 'float',
    'Surface reelle bati' : 'float',
    'Nombre pieces principales' : 'float',
    'Surface terrain' : 'float'
}


df = df.astype(d_type)
df['Date mutation'] = pd.to_datetime(df['Date mutation'], format="%d/%m/%Y")
df[['Valeur fonciere','Nombre pieces principales']] = df[['Valeur fonciere','Nombre pieces principales']].astype('int')

In [181]:
df['month'] = df['Date mutation'].dt.month
df['year'] = df['Date mutation'].dt.year
df = df.drop(labels='Date mutation', axis=1)

In [182]:
df.head()

,Valeur fonciere,Type de voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,month,year
0,90000,RUE,1380.0,SAINT-CYR-SUR-MENTHON,1,343,Maison,150.0,3,347.0,1,2018
1,67000,ALL,1000.0,BOURG-EN-BRESSE,1,53,Appartement,45.0,1,0.0,1,2018
2,76200,RUE,1000.0,BOURG-EN-BRESSE,1,53,Appartement,68.0,3,0.0,1,2018
3,130000,RUE,1160.0,VARAMBON,1,430,Maison,80.0,3,55.0,1,2018
4,224750,RUE,1160.0,PRIAY,1,314,Maison,115.0,5,673.0,1,2018

# Latitude longitude

In [183]:
#Import des données
lat = pd.read_csv(filepath_or_buffer= path + "communes-departement-region.csv", sep=",", decimal=".")

In [184]:
lat.columns

Index(['code_commune_INSEE', 'nom_commune_postal', 'code_postal',
       'libelle_acheminement', 'ligne_5', 'latitude', 'longitude',
       'code_commune', 'article', 'nom_commune', 'nom_commune_complet',
       'code_departement', 'nom_departement', 'code_region', 'nom_region'],
      dtype='object')

In [185]:
#On vire les valeurs qui ne nous interesse pas
lat = lat[['code_commune_INSEE','nom_commune_postal','code_postal','latitude', 'longitude','code_commune','code_departement']]

In [186]:
lat = lat.dropna(axis=0)

In [187]:
#Trasntypage
d_type = {
    'code_commune_INSEE':'str',
    'nom_commune_postal':'str',
    'code_postal':'float',
    'latitude':'float',
    'longitude':'float',
    'code_commune':'float',
    'code_departement':'str'
}


lat = lat.astype(d_type)
lat['code_commune'] = lat['code_commune'].astype(int).astype(str)
lat['code_postal'] = lat['code_postal'].astype(str)

In [188]:
print(lat.info())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 38932 entries, 0 to 38936
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code_commune_INSEE  38932 non-null  object
 1   nom_commune_postal  38932 non-null  object
 2   code_postal         38932 non-null  object
 3   latitude            38932 non-null  float64
 4   longitude           38932 non-null  float64
 5   code_commune        38932 non-null  object
 6   code_departement    38932 non-null  object
dtypes: float64(2), object(5)
memory usage: 2.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1979261 entries, 0 to 1979260
Data columns (total 12 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Valeur fonciere            int32
 1   Type de voie               object
 2   Code postal                object
 3   Commune                    object
 4   Code departement           object
 5   Code commune               object
 6   Type local                 object
 7   Surface reelle bati        float64
 8   Nombre pieces principales  int32
 9   Surface terrain            float64
 10  month                      int32
 11  year                       int32
dtypes: float64(2), int32(4), object(6)
memory usage: 151.0+ MB
None

In [189]:
lat_fu = lat[['code_departement','code_commune','code_postal', 'latitude', 'longitude']]
lat_fu = lat_fu.rename(columns={'code_departement': 'Code departement', 'code_commune': 'Code commune', 'code_postal' : 'Code postal'})

In [190]:
lat_fu

      Code departement Code commune Code postal   latitude  longitude
0                    1            1      1400.0  46.153426   4.926114
1                    1            2      1640.0  46.009188   5.428017
2                    1            4      1500.0  45.960848   5.372926
3                    1            5      1330.0  45.996180   4.912273
4                    1            6      1300.0  45.749499   5.594320
...                ...          ...         ...        ...        ...
38932              976           14     97670.0 -12.837096  45.137910
38933              976           14     97670.0 -12.837096  45.137910
38934              976           15     97615.0 -12.796135  45.284206
38935              976           16     97640.0 -12.861165  45.118550
38936              976           17     97680.0 -12.782167  45.134428

[38932 rows x 5 columns]

In [191]:
#Union des deux tables
result = pd.merge(left=df, right=lat_fu, on=['Code departement','Code commune', 'Code postal'], how='left')
result.drop_duplicates(ignore_index=True, inplace=True)

In [168]:
df.shape

(1979261, 12)

In [194]:
result[result['latitude'].isna()]

,Valeur fonciere,Type de voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,month,year,latitude,longitude
2702,57000,RUE,1510.0,CHAZEY-BONS,1,98,Maison,52.0,3,76.0,11,2018,NaN,NaN
24306,40500,RTE,7510.0,ASTET,7,18,Maison,85.0,5,1130.0,3,2018,NaN,NaN
24621,40000,CHE,7660.0,ASTET,7,18,Maison,90.0,3,141.0,5,2018,NaN,NaN
25519,177000,RUE,7000.0,SAINT-MICHEL-DE-BOULOGNE,7,277,Maison,95.0,2,250.0,12,2018,NaN,NaN
26838,13000,RUE,8500.0,ROCROI,8,367,Maison,51.0,1,146.0,2,2018,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964490,55000,RUE,97150.0,SAINT MARTIN,971,27,Appartement,26.0,1,0.0,12,2021,NaN,NaN
1964491,126500,LOT,97150.0,SAINT MARTIN,971,27,Appartement,34.0,2,0.0,11,2021,NaN,NaN
1964492,235000,RUE,97150.0,SAINT MARTIN,971,27,Appartement,93.0,3,0.0,8,2021,NaN,NaN
1964494,230000,RUE,97150.0,SAINT MARTIN,971,27,Appartement,80.0,3,0.0,7,2021,NaN,NaN
1964585,130000,RUE,97212.0,FORT DE FRANCE,972,9,Appartement,58.0,4,0.0,2,2021,NaN,NaN