In [50]:
import pandas as pd


### Set up
path = "C:/Users/pterron/Documents/projet_python/Application_ml/Depot_data/"

In [51]:
df_kaggle = pd.read_csv(filepath_or_buffer= path + "submissions.csv", sep=",", decimal=',')

C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\3348054760.py:1: DtypeWarning: Columns (9,11,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_kaggle = pd.read_csv(filepath_or_buffer= path + "submissions.csv", sep=",", decimal=',')

In [81]:
df_kaggle.shape

(378041, 34)

In [53]:
d_type = {
    'Surface reelle bati' : 'float',
    'Nombre pieces principales' : 'float',
    'Surface terrain' : 'float'
}


df = df_kaggle.astype(d_type)
df['Date mutation'] = pd.to_datetime(df['Date mutation'], format="%d/%m/%Y")

df['month'] = df['Date mutation'].dt.month
df['year'] = df['Date mutation'].dt.year

#Garder les colonnes pertinentes
df

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID,month,year
0,2022-01-03,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1,1,2022
1,2022-01-03,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2,1,2022
2,2022-01-06,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,Maison,NaN,108.0,5.0,S,NaN,649.0,3,1,2022
3,2022-01-05,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,Maison,NaN,85.0,4.0,S,NaN,310.0,4,1,2022
4,2022-01-06,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,NaN,NaN,99.0,5.0,S,NaN,765.0,5,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378036,2022-06-16,Adjudication,21.0,NaN,AV,6626,MOZART,75016.0,PARIS 16,75,...,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,378037,6,2022
378037,2022-12-14,Vente,13.0,NaN,QUAI,2296,DE CONTI,75006.0,PARIS 06,75,...,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,378038,12,2022
378038,2022-12-30,Vente,19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,PARIS 14,75,...,Local industriel. commercial ou assimilé,NaN,327.0,0.0,NaN,NaN,NaN,378039,12,2022
378039,2022-12-30,Vente,69.0,NaN,RUE,0679,BARRAULT,75013.0,PARIS 13,75,...,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,378040,12,2022
378040,2022-11-21,Vente,48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,PARIS 11,75,...,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,378041,11,2022

In [54]:
df_fin = df [['Type local','Surface reelle bati','Nombre pieces principales','Surface terrain','month','year']]

In [55]:
df_fin.isna().sum()

Type local                    50000
Surface reelle bati             541
Nombre pieces principales       541
Surface terrain              147859
month                             0
year                              0
dtype: int64

In [56]:
df_fin['Surface reelle bati'] = df_fin['Surface reelle bati'].fillna(value = df_fin['Surface reelle bati'].median())
df_fin['Nombre pieces principales'] = df_fin['Nombre pieces principales'].fillna(value = 4)

C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\682162618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Surface reelle bati'] = df_fin['Surface reelle bati'].fillna(value = df_fin['Surface reelle bati'].median())
C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\682162618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Nombre pieces principales'] = df_fin['Nombre pieces principales'].fillna(value = 4)

In [57]:
import pickle

#Extract
X_missing = df_fin[df_fin['Type local'].isna()]

X_missing

,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,month,year
4,NaN,99.0,5.0,765.0,1,2022
13,NaN,76.0,3.0,1134.0,1,2022
33,NaN,95.0,5.0,342.0,1,2022
40,NaN,230.0,0.0,627.0,1,2022
44,NaN,0.0,0.0,NaN,1,2022
...,...,...,...,...,...,...
378010,NaN,34.0,2.0,NaN,12,2022
378015,NaN,0.0,0.0,NaN,12,2022
378019,NaN,0.0,0.0,NaN,12,2022
378023,NaN,10.0,1.0,NaN,2,2022
378024,NaN,10.0,0.0,NaN,12,2022

In [58]:

#On importe le modèle pickle pour le type local
pickled_model = pickle.load(open('treemodel_local.pkl', 'rb'))
X_missing['Type local'] = pickled_model.predict(X_missing[['Surface reelle bati', 'Nombre pieces principales']])

C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\4002080992.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_missing['Type local'] = pickled_model.predict(X_missing[['Surface reelle bati', 'Nombre pieces principales']])

In [69]:
X_missing.index

Index([     4,     13,     33,     40,     44,     46,     54,     56,     70,
           88,
       ...
       377951, 377960, 377967, 377974, 377986, 378010, 378015, 378019, 378023,
       378024],
      dtype='int64', length=50000)

In [73]:
X_missing['Type local']

4                                           Maison
13                                          Maison
33                                          Maison
40        Local industriel. commercial ou assimilé
44                                      Dépendance
                            ...
378010                                 Appartement
378015                                  Dépendance
378019                                  Dépendance
378023                                 Appartement
378024                                 Appartement
Name: Type local, Length: 50000, dtype: object

In [76]:
df_fin.loc[X_missing.index,'Type local'] = X_missing['Type local']

In [77]:
df_fin.iloc[X_missing.index]['Type local']

4                                           Maison
13                                          Maison
33                                          Maison
40        Local industriel. commercial ou assimilé
44                                      Dépendance
                            ...
378010                                 Appartement
378015                                  Dépendance
378019                                  Dépendance
378023                                 Appartement
378024                                 Appartement
Name: Type local, Length: 50000, dtype: object

In [82]:

df_fin['Surface terrain'].loc[df_fin['Surface terrain'].isna() & (df_fin['Type local'] == 'Appartement')] = 0
df_fin['Surface terrain'] = df_fin['Surface terrain'].fillna(value = df_fin['Surface terrain'].median())

C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\3852283746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Surface terrain'].loc[df_fin['Surface terrain'].isna() & (df_fin['Type local'] == 'Appartement')] = 0
C:\Users\pterron\AppData\Local\Temp\ipykernel_3544\3852283746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Surface terrain'] = df_fin['Surface terrain'].fillna(value = df_fin['Surface terrain'].median())

In [83]:
df_fin.isna().sum()/len(df_fin)

Type local                   0.0
Surface reelle bati          0.0
Nombre pieces principales    0.0
Surface terrain              0.0
month                        0.0
year                         0.0
dtype: float64

In [84]:
df_fin.shape

(378041, 6)

In [89]:
#On importe le modèle pickle pour le prix
prix_model = pickle.load(open('reg_prix.pkl', 'rb'))

y_pred = pickled_model.predict(df_fin[['Surface reelle bati', 'Nombre pieces principales', 'Surface terrain','month', 'year']])

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Surface terrain
- month
- year

In [86]:
#Y_pred en fonction du type del ocal
for i in df_fin.index:
    if(df_fin)

,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,month,year
0,Appartement,24.0,1.0,0.0,1,2022
1,Appartement,140.0,3.0,0.0,1,2022
18,Appartement,25.0,1.0,0.0,1,2022
32,Appartement,78.0,3.0,0.0,1,2022
54,Appartement,43.0,2.0,0.0,1,2022
...,...,...,...,...,...,...
378030,Appartement,56.0,2.0,0.0,12,2022
378031,Appartement,34.0,2.0,0.0,12,2022
378033,Appartement,13.0,1.0,0.0,12,2022
378034,Appartement,97.0,3.0,0.0,12,2022
378036,Appartement,24.0,1.0,0.0,6,2022