In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv('valeursfoncieres-2018.txt', delimiter='|',decimal=",")
df.head(15)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11936\2973633481.py:1: DtypeWarning: Columns (14,18,23,24,26,28,32,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('valeursfoncieres-2018.txt', delimiter='|',decimal=",")

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,AG,JARD,420.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,S,NaN,949.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,278.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,150.0,3.0,S,NaN,347.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,23.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,10/01/2018,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,126.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,12/01/2018,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,197.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,1,2.0,Appartement,NaN,45.0,1.0,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11/01/2018,Vente,...,NaN,2,2.0,Appartement,NaN,68.0,3.0,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/01/2018,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,5093.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,18/01/2018,Vente,...,NaN,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN

In [63]:
# Calculer le pourcentage des valeurs manquantes par colonne
pourcentage_valeurs_manquantes = (df.isna().sum() / len(df)) * 100

# Afficher le rÃ©sultat
print("Pourcentage des valeurs manquantes par colonne :")
print(pourcentage_valeurs_manquantes)

Pourcentage des valeurs manquantes par colonne :
No disposition                0.000000
Date mutation                 0.000000
Nature mutation               0.000000
Valeur fonciere               0.959646
No voie                      42.015632
Type de voie                 43.358782
Code voie                     0.909995
Voie                          0.910595
Code postal                   0.915002
Commune                       0.000000
Code departement              0.000000
Code commune                  0.000000
Section                       0.002549
No plan                       0.000000
Nombre de lots                0.000000
Code type local              45.048769
Type local                   45.048769
Surface reelle bati          45.133739
Nombre pieces principales    45.133739
Nature culture               31.612494
Surface terrain              31.612494
dtype: float64

Suppression des colonnes avec plus de 60% de valeurs manquantes

In [64]:
# Filtrer les colonnes avec plus de 60% de valeurs manquantes
plussoixante = pourcentage_valeurs_manquantes[pourcentage_valeurs_manquantes > 60].index
# Afficher les noms des colonnes avec plus de 60% de valeurs manquantes
print("Colonnes avec plus de 60% de valeurs manquantes :")
print(plussoixante)

Colonnes avec plus de 60% de valeurs manquantes :
Index([], dtype='object')

In [65]:
# Supprimer les colonnes sÃ©lectionnÃ©es du DataFrame
df = df.drop(columns=plussoixante)

ConcatÃ©nation des colonnes Date mutation et Code voie pour supprimer les lignes identiques

In [66]:
#On vÃ©rifie le type de donnÃ©es dans les colonnes que l'on veut concatener
print(df['Date mutation'].dtypes)
print(df['Code voie'].dtypes)
# Utilise la mÃ©thode .apply pour concatÃ©ner les deux colonnes et crÃ©er une nouvelle colonne
df['Concat'] = df['Date mutation'].astype(str) + df['Code voie'].astype(str)
# Affiche le DataFrame pour vÃ©rifier les rÃ©sultats
print(df['Concat'])

object
object
0          03/01/20181660
1          03/01/20181660
2          04/01/20180025
3          04/01/20180025
4          04/01/20180025
                ...
3335287    28/12/20182012
3335288    03/12/20187561
3335289    28/12/20188548
3335290    13/12/20186559
3335291    17/10/20188525
Name: Concat, Length: 3335292, dtype: object

In [67]:
# On utilise la mÃ©thode drop_duplicates pour supprimer les lignes identiques de la colonne "Concat"
df = df.drop_duplicates(subset=['Concat'])

Suppression des lignes vides dans Type Local

In [68]:
#Affichage d'tableau croisÃ© (nature culture - type local) pour voir si on supprime les donnÃ©es Ã  0
tableau_croise = pd.crosstab(df['Nature culture'], df['Type local'])
print(tableau_croise)

Type local      Appartement  DÃ©pendance  \
Nature culture
AB                       23          64
AG                      110         210
B                         1           5
BF                        0           1
BM                        0           1
BP                        1           6
BR                        1           9
BS                        1           1
BT                        5          21
CA                        0           0
CH                        0           0
E                         1          13
J                        70         208
L                         9          33
P                        14          94
PA                        2           2
PC                        0           1
PH                        0           1
PP                        0           3
S                      7125        6757
T                        36         155
TP                        0           0
VE                        2          23
VI                        2          12

Type local      Local industriel. commercial ou assimilÃ©  Maison
Nature culture
AB                                                   245     942
AG                                                   173    5472
B                                                      1      59
BF                                                     3      13
BM                                                     0       5
BP                                                     0      14
BR                                                     8      85
BS                                                     8      47
BT                                                    21     191
CA                                                     4       1
CH                                                     5       8
E                                                     12      41
J                                                     94    3591
L                                                     63     289
P                                                    100    1112
PA                                                     5      63
PC                                                     0       5
PH                                                     1      12
PP                                                     2      45
S                                                  10254  136783
T                                                    243    2149
TP                                                     0       1
VE                                                    13     293
VI                                                     9      91

In [69]:
df=df.dropna(subset=['Type local'])
#On renomme la variable 'Local industriel. commercial ou assimilÃ©' en Local pour faclitÃ© la lecture
df['Type local'] = df['Type local'].replace('Local industriel. commercial ou assimilÃ©', 'Local')
#Affichage des diffÃ©rentes valeurs de Type local
print(df['Type local'].unique())

['Appartement' 'Maison' 'DÃ©pendance' 'Local']

In [71]:
print(df['Code postal'].dtypes)

float64

Ajout de la longitude et de la latitude en reliant avec le cp du fichier csv

In [72]:
# Charger les donnÃ©es du fichier CSV dans un DataFrame
df_csv = pd.read_csv('communes-departement-region.csv')
df_csv.head(10)

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-ClÃ©menciat,L'Abergement-ClÃ©menciat,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,AmbÃ©rieu-en-Bugey,AmbÃ©rieu-en-Bugey,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,AmbÃ©rieux-en-Dombes,AmbÃ©rieux-en-Dombes,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,AmblÃ©on,AmblÃ©on,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
5,1007,AMBRONAY,1500,AMBRONAY,NaN,46.005591,5.357607,7.0,NaN,Ambronay,Ambronay,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
6,1008,AMBUTRIX,1500,AMBUTRIX,NaN,45.936713,5.332809,8.0,NaN,Ambutrix,Ambutrix,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
7,1009,ANDERT ET CONDON,1300,ANDERT ET CONDON,NaN,45.787357,5.657883,9.0,NaN,Andert-et-Condon,Andert-et-Condon,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
8,1010,ANGLEFORT,1350,ANGLEFORT,NaN,45.909372,5.795160,10.0,NaN,Anglefort,Anglefort,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
9,1011,APREMONT,1100,APREMONT,NaN,46.205498,5.657815,11.0,NaN,Apremont,Apremont,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes

In [74]:
# Renommer la colonne "code_postal" en "Code postal"
df_csv.rename(columns={'code_postal': 'Code postal'}, inplace=True)
print(df_csv['Code postal'].dtypes)

int64

In [79]:
df['Code postal'] = df['Code postal'].fillna(0)

0

In [80]:
#On transforme les donnÃ©es de la colonne Code postal de df en integer pour qu'ils soient de la mÃªme nature que celles de la colonne Code postal de df_csv
df['Code postal'] = df['Code postal'].astype(int)

In [81]:
# Fusionner les donnÃ©es en fonction du code postal
df= pd.merge(df, df_csv[['Code postal', 'longitude', 'latitude']], on='Code postal', how='left')

In [83]:
df.head(15)

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Concat,longitude,latitude
0,1,03/01/2018,Vente,109000.0,13.0,RUE,1660,GEN LOGEROT,1000,BOURG-EN-BRESSE,...,2,2.0,Appartement,73.0,4.0,NaN,NaN,03/01/20181660,5.246021,46.205152
1,1,03/01/2018,Vente,109000.0,13.0,RUE,1660,GEN LOGEROT,1000,BOURG-EN-BRESSE,...,2,2.0,Appartement,73.0,4.0,NaN,NaN,03/01/20181660,5.246021,46.205152
2,1,03/01/2018,Vente,109000.0,13.0,RUE,1660,GEN LOGEROT,1000,BOURG-EN-BRESSE,...,2,2.0,Appartement,73.0,4.0,NaN,NaN,03/01/20181660,5.184628,46.211200
3,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.320072,46.183217
4,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.416494,46.275016
5,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.450825,46.200385
6,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.471525,46.250511
7,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.368000,46.219660
8,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.450128,46.305498
9,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.433187,46.207388
10,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.429445,46.161124
11,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.429445,46.161124
12,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.312154,46.215004
13,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.334528,46.146498
14,1,04/01/2018,Vente,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250,NIVIGNE ET SURAN,...,0,1.0,Maison,163.0,4.0,S,949.0,04/01/20180025,5.378011,46.142706