In [202]:
import pandas as pd


### Set up
#path = "C:/Users/pterron/Documents/projet_python/Application_ml/Depot_data/"
path = "C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/Kaggle/"

In [203]:
df_kaggle = pd.read_csv(filepath_or_buffer= path + "submissions.csv", sep=",", decimal=',')

C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\3348054760.py:1: DtypeWarning: Columns (9,11,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_kaggle = pd.read_csv(filepath_or_buffer= path + "submissions.csv", sep=",", decimal=',')

In [329]:
df_kaggle.shape
df_kaggle.head()

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Surface Carrez du 5eme lot,Nombre de lots,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID
0,03/01/2022,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,NaN,1,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1
1,03/01/2022,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,NaN,1,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2
2,06/01/2022,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,NaN,0,Maison,NaN,108.0,5.0,S,NaN,649.0,3
3,05/01/2022,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,NaN,0,Maison,NaN,85.0,4.0,S,NaN,310.0,4
4,06/01/2022,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,NaN,0,NaN,NaN,99.0,5.0,S,NaN,765.0,5

In [205]:
#Transtypage
d_type = {
    'Commune' : 'str',
    'Code commune' : 'str',
    'Code departement' : 'str',
    'Code postal' : 'str',
    'Surface reelle bati' : 'float',
    'Nombre pieces principales' : 'float',
    'Surface terrain' : 'float'
}

df = df_kaggle.astype(d_type)
df['Date mutation'] = pd.to_datetime(df['Date mutation'], format="%d/%m/%Y")

df['month'] = df['Date mutation'].dt.month
df['year'] = df['Date mutation'].dt.year



#Garder les colonnes pertinentes
df

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID,month,year
0,2022-01-03,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1,1,2022
1,2022-01-03,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2,1,2022
2,2022-01-06,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,Maison,NaN,108.0,5.0,S,NaN,649.0,3,1,2022
3,2022-01-05,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,Maison,NaN,85.0,4.0,S,NaN,310.0,4,1,2022
4,2022-01-06,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,NaN,NaN,99.0,5.0,S,NaN,765.0,5,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378036,2022-06-16,Adjudication,21.0,NaN,AV,6626,MOZART,75016.0,PARIS 16,75,...,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,378037,6,2022
378037,2022-12-14,Vente,13.0,NaN,QUAI,2296,DE CONTI,75006.0,PARIS 06,75,...,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378038,12,2022
378038,2022-12-30,Vente,19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,PARIS 14,75,...,Local industriel. commercial ou assimilÃ©,NaN,327.0,0.0,NaN,NaN,NaN,378039,12,2022
378039,2022-12-30,Vente,69.0,NaN,RUE,0679,BARRAULT,75013.0,PARIS 13,75,...,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378040,12,2022
378040,2022-11-21,Vente,48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,PARIS 11,75,...,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378041,11,2022

# latitude longitude

In [206]:
#Import des donnÃ©es
lat = pd.read_csv(filepath_or_buffer= path + "communes-departement-region.csv", sep=",", decimal=".")
#On vire les valeurs qui ne nous interesse pas
lat = lat[['code_postal','latitude', 'longitude','code_commune','code_departement']]
#Suppr valeur vide
lat = lat.dropna(axis=0)

print(lat.shape) #(38932, 5)

#Transtypage
d_type = {
    'code_postal':'float',
    'latitude':'float',
    'longitude':'float',
    'code_commune':'float',
    'code_departement':'str'
}


lat = lat.astype(d_type)
lat['code_commune'] = lat['code_commune'].astype(int).astype(str)
lat['code_postal'] = lat['code_postal'].astype(str)

#Changement des noms
lat = lat.rename(columns={'code_departement': 'Code departement', 'code_commune': 'Code commune', 'code_postal' : 'Code postal'})

lat.drop_duplicates(inplace = True)
print(lat.shape) #(36216, 5)

#Fusion
#Union des deux tables
df = pd.merge(left=df, right=lat, on=['Code departement','Code commune', 'Code postal'], how='left')

print(df.shape) #(378041, 38)

(38932, 5)
(36216, 5)
(378041, 38)

In [207]:
df.head()

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID,month,year,latitude,longitude
0,2022-01-03,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,24.0,1.0,NaN,NaN,NaN,1,1,2022,46.205152,5.246021
1,2022-01-03,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,140.0,3.0,NaN,NaN,NaN,2,1,2022,45.997347,4.857620
2,2022-01-06,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,108.0,5.0,S,NaN,649.0,3,1,2022,46.430275,5.106759
3,2022-01-05,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,85.0,4.0,S,NaN,310.0,4,1,2022,45.920121,5.363532
4,2022-01-06,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,99.0,5.0,S,NaN,765.0,5,1,2022,46.205152,5.246021

# Prix au mÂ² (Communes)

In [208]:
#Import des donnÃ©es
prix_m2_com = pd.read_csv(filepath_or_buffer= "C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/prix_m2_com_region.csv", sep=",", decimal=".")
prix_m2_com['Code commune'] = prix_m2_com['Code commune'].astype(str)

In [211]:
prix_m2_com.drop_duplicates(inplace= True)

In [212]:
prix_m2_com.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27632 entries, 0 to 27809
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Commune                27632 non-null  object
 1   Code departement       27632 non-null  object
 2   Code commune           27632 non-null  object
 3   Prix m2 moyen region   27632 non-null  float64
 4   Prix m2 moyen commune  27632 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.3+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378041 entries, 0 to 378040
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date mutation               378041 non-null  datetime64[ns]
 1   Nature mutation             378041 non-null  object
 2   No voie                     375777 non-null  object
 3   B/T/Q                       26339 non-null   object
 4   Type de voie                355235 non-null  object
 5   Code voie                   378041 non-null  object
 6   Voie                        378029 non-null  object
 7   Code postal                 378041 non-null  object
 8   Commune                     378041 non-null  object
 9   Code departement            378041 non-null  object
 10  Code commune                378041 non-null  object
 11  Prefixe de section          13737 non-null   object
 12  Section                     378021 non-null  object
 13  No plan                     378041 non-null  int64
 14  No Volume                   0 non-null       float64
 15  1er lot                     146110 non-null  object
 16  Surface Carrez du 1er lot   63538 non-null   float64
 17  2eme lot                    19161 non-null   object
 18  Surface Carrez du 2eme lot  5187 non-null    float64
 19  3eme lot                    5623 non-null    object
 20  Surface Carrez du 3eme lot  990 non-null     float64
 21  4eme lot                    2614 non-null    object
 22  Surface Carrez du 4eme lot  362 non-null     float64
 23  5eme lot                    1512 non-null    object
 24  Surface Carrez du 5eme lot  178 non-null     float64
 25  Nombre de lots              378041 non-null  int64
 26  Type local                  328041 non-null  object
 27  Identifiant local           0 non-null       float64
 28  Surface reelle bati         377500 non-null  float64
 29  Nombre pieces principales   377500 non-null  float64
 30  Nature culture              230182 non-null  object
 31  Nature culture speciale     568 non-null     object
 32  Surface terrain             230182 non-null  float64
 33  ID                          378041 non-null  int64
 34  month                       378041 non-null  int32
 35  year                        378041 non-null  int32
 36  latitude                    376724 non-null  float64
 37  longitude                   376724 non-null  float64
dtypes: datetime64[ns](1), float64(12), int32(2), int64(3), object(20)
memory usage: 106.7+ MB

In [213]:
df_test = pd.merge(left=df, right=prix_m2_com[['Code departement','Code commune','Prix m2 moyen commune']], on=['Code departement','Code commune'], how='left')

In [214]:
df_test['Prix m2 moyen commune'].isna().sum() #3543

3543

In [215]:
df_test.shape #(378041, 39)

(378041, 39)

In [216]:
df_prix_dep = prix_m2_com[['Code departement','Prix m2 moyen region']].drop_duplicates()

In [218]:
df_test = pd.merge(left=df_test, right=df_prix_dep, on='Code departement', how='left')

In [219]:
df_test.sort_values(by='Prix m2 moyen commune')

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Nature culture,Nature culture speciale,Surface terrain,ID,month,year,latitude,longitude,Prix m2 moyen commune,Prix m2 moyen region
31697,2022-06-04,Vente,5093.0,NaN,NaN,B038,CABANOUS,12220.0,ROUSSENNAC,12,...,S,NaN,665.0,31698,6,2022,44.447552,2.254128,0.008929,1358.640217
31066,2022-01-28,Vente,5094.0,A,NaN,B270,MAS DE LATTES,12220.0,ROUSSENNAC,12,...,S,NaN,96.0,31067,1,2022,44.447552,2.254128,0.008929,1358.640217
173790,2022-03-28,Vente,64.0,NaN,RUE,0054,DES PONTS,51800.0,VIENNE-LE-CHATEAU,51,...,S,NaN,810.0,173791,3,2022,49.196271,4.924890,0.010417,2064.405883
55712,2022-03-10,Vente,1.0,NaN,RUE,0051,DE LA MAIRIE,18260.0,CONCRESSAULT,18,...,S,NaN,519.0,55713,3,2022,47.491477,2.569732,0.020000,1132.497445
184119,2022-04-29,Vente,7.0,NaN,RUE,0027,DE LA MAIRIE,55230.0,ROUVROIS SUR OTHAIN,55,...,S,NaN,450.0,184120,4,2022,49.387146,5.627614,0.050725,978.377352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356720,2022-10-14,Vente,15.0,NaN,RUE,0228,DU MONTOIR SAINT NICOLAS,95470.0,SAINT-WITZ,95,...,AB,NaN,680.0,356721,10,2022,49.085784,2.552276,NaN,3628.241928
356813,2022-10-20,Vente,7.0,NaN,RUE,0150,DES ROCHETTES,95450.0,GUIRY-EN-VEXIN,95,...,S,NaN,1781.0,356814,10,2022,49.115847,1.855689,NaN,3628.241928
357517,2022-12-16,Vente,16.0,NaN,RUE,0210,DU MAIL,95470.0,SAINT-WITZ,95,...,S,NaN,413.0,357518,12,2022,49.085784,2.552276,NaN,3628.241928
357590,2022-12-22,Vente,2.0,NaN,RUE,0127,DE LA GRANDE FONTAINE,95470.0,SAINT-WITZ,95,...,S,NaN,830.0,357591,12,2022,49.085784,2.552276,NaN,3628.241928
357741,2022-12-27,Vente,18.0,NaN,GR,0043,GRANDE RUE,95690.0,FROUVILLE,95,...,S,NaN,622.0,357742,12,2022,49.157487,2.146591,NaN,3628.241928

# Remplacement valeurs vides

In [220]:
df_fin = df_test[['Type local','Surface reelle bati','Code departement','Nombre pieces principales','year','latitude','longitude','Prix m2 moyen region','Prix m2 moyen commune']]

In [221]:
df_fin.sort_values(by='Prix m2 moyen commune')

,Type local,Surface reelle bati,Code departement,Nombre pieces principales,year,latitude,longitude,Prix m2 moyen region,Prix m2 moyen commune
31697,Maison,110.0,12,5.0,2022,44.447552,2.254128,1358.640217,0.008929
31066,Maison,132.0,12,6.0,2022,44.447552,2.254128,1358.640217,0.008929
173790,Maison,83.0,51,4.0,2022,49.196271,4.924890,2064.405883,0.010417
55712,Maison,105.0,18,4.0,2022,47.491477,2.569732,1132.497445,0.020000
184119,Maison,174.0,55,6.0,2022,49.387146,5.627614,978.377352,0.050725
...,...,...,...,...,...,...,...,...,...
356720,Local industriel. commercial ou assimilÃ©,0.0,95,0.0,2022,49.085784,2.552276,3628.241928,NaN
356813,NaN,130.0,95,8.0,2022,49.115847,1.855689,3628.241928,NaN
357517,Maison,160.0,95,4.0,2022,49.085784,2.552276,3628.241928,NaN
357590,Maison,128.0,95,5.0,2022,49.085784,2.552276,3628.241928,NaN
357741,Maison,125.0,95,3.0,2022,49.157487,2.146591,3628.241928,NaN

31697	Maison	110.0	5.0	2022	44.447552	2.254128	1358.640217	0.008929
31066	Maison	132.0	6.0	2022	44.447552	2.254128	1358.640217	0.008929
173790	Maison	83.0	4.0	2022	49.196271	4.924890	2064.405883	0.010417
55712	Maison	105.0	4.0	2022	47.491477	2.569732	1132.497445	0.020000
184119

In [222]:
df_fin.shape

(378041, 9)

In [223]:
df_fin.isna().sum()

Type local                   50000
Surface reelle bati            541
Code departement                 0
Nombre pieces principales      541
year                             0
latitude                      1317
longitude                     1317
Prix m2 moyen region             0
Prix m2 moyen commune         3543
dtype: int64

In [224]:
#Remplacement des vlauers vides
df_fin['Surface reelle bati'] = df_fin['Surface reelle bati'].fillna(value = df_fin['Surface reelle bati'].median())
df_fin['Nombre pieces principales'] = df_fin['Nombre pieces principales'].fillna(value = 4)
#On remplace les valeurs nulles lat et longi par zero
values = {"latitude": 0, "longitude":0}
df_fin = df_fin.fillna(value = values)

df_fin['Prix m2 moyen commune'].fillna(df_fin['Prix m2 moyen region'], inplace= True)

C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\3075296497.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Surface reelle bati'] = df_fin['Surface reelle bati'].fillna(value = df_fin['Surface reelle bati'].median())
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\3075296497.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin['Nombre pieces principales'] = df_fin['Nombre pieces principales'].fillna(value = 4)

In [225]:
df_fin.isna().sum()

Type local                   50000
Surface reelle bati              0
Code departement                 0
Nombre pieces principales        0
year                             0
latitude                         0
longitude                        0
Prix m2 moyen region             0
Prix m2 moyen commune            0
dtype: int64

In [226]:
#df_fin[df_fin['Prix m2 moyen commune'] == df_fin['Prix m2 moyen region']]
df_fin.shape

(378041, 9)

In [227]:
import pickle

#Extract
X_missing = df_fin[df_fin['Type local'].isna()]

X_missing

,Type local,Surface reelle bati,Code departement,Nombre pieces principales,year,latitude,longitude,Prix m2 moyen region,Prix m2 moyen commune
4,NaN,99.0,1,5.0,2022,46.205152,5.246021,2315.872738,2509.869124
13,NaN,76.0,1,3.0,2022,46.364383,4.902428,2315.872738,1662.842491
33,NaN,95.0,1,5.0,2022,46.299763,6.100580,2315.872738,4039.331560
40,NaN,230.0,1,0.0,2022,45.844210,4.941067,2315.872738,3525.708737
44,NaN,0.0,1,0.0,2022,46.254539,6.036291,2315.872738,4610.464963
...,...,...,...,...,...,...,...,...,...
378010,NaN,34.0,75,2.0,2022,48.859415,2.378741,10069.780223,10422.853766
378015,NaN,0.0,75,0.0,2022,48.859415,2.378741,10069.780223,10422.853766
378019,NaN,0.0,75,0.0,2022,48.860399,2.262100,10069.780223,10293.521223
378023,NaN,10.0,75,1.0,2022,48.828718,2.362468,10069.780223,9286.449714
378024,NaN,10.0,75,0.0,2022,48.835156,2.419807,10069.780223,9922.648119

In [228]:

#On importe le modÃ¨le pickle pour le type local
pickled_model = pickle.load(open('treemodel_local.pkl', 'rb'))
X_missing['Type local'] = pickled_model.predict(X_missing[['Surface reelle bati', 'Prix m2 moyen commune']])

C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\1520109459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_missing['Type local'] = pickled_model.predict(X_missing[['Surface reelle bati', 'Prix m2 moyen commune']])

In [229]:
X_missing.index

Index([     4,     13,     33,     40,     44,     46,     54,     56,     70,
           88,
       ...
       377951, 377960, 377967, 377974, 377986, 378010, 378015, 378019, 378023,
       378024],
      dtype='int64', length=50000)

In [230]:
X_missing['Type local'].value_counts()

Type local
Maison         35439
Appartement    14561
Name: count, dtype: int64

In [231]:
df_fin.loc[X_missing.index,'Type local'] = X_missing['Type local']

In [73]:
df_fin.iloc[X_missing.index]['Type local'] #Le remplacement Ã  bien eu lieu

4              Maison
13             Maison
33             Maison
40             Maison
44        Appartement
             ...
378010    Appartement
378015    Appartement
378019    Appartement
378023    Appartement
378024    Appartement
Name: Type local, Length: 50000, dtype: object

In [232]:
df_fin.isna().sum()/len(df_fin)

Type local                   0.0
Surface reelle bati          0.0
Code departement             0.0
Nombre pieces principales    0.0
year                         0.0
latitude                     0.0
longitude                    0.0
Prix m2 moyen region         0.0
Prix m2 moyen commune        0.0
dtype: float64

In [233]:
print(df_fin.shape)
df_fin['Type local'].value_counts()

(378041, 9)

Type local
Maison                                      228864
Appartement                                  76133
DÃ©pendance                                   46331
Local industriel. commercial ou assimilÃ©     26713
Name: count, dtype: int64

In [234]:
#On importe le modÃ¨le pickle pour le prix
prix_model_maison = pickle.load(open('reg_prix_maison.pkl', 'rb'))
prix_model_appart = pickle.load(open('reg_prix_appart.pkl', 'rb'))

#Pour local et dÃ©pendances
moy_dep = pd.read_csv("C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/vf_dep_allyear.csv", sep = ",")

In [274]:
moy_dep['Code departement'].value_counts()
moy_dep[moy_dep['Code departement'] == '973']

,Code departement,year,Type local,Valeur fonciere
1515,973,2018,Appartement,127279.909639
1516,973,2018,DÃ©pendance,14000.000000
1517,973,2018,Local industriel. commercial ou assimilÃ©,202500.000000
1518,973,2018,Maison,200162.129630
1519,973,2019,Appartement,132555.075269
1520,973,2019,Local industriel. commercial ou assimilÃ©,110000.000000
1521,973,2019,Maison,196544.889937
1522,973,2020,Appartement,122194.048387
1523,973,2020,Local industriel. commercial ou assimilÃ©,182500.000000
1524,973,2020,Maison,200363.505576
1525,973,2021,Appartement,123082.056872
1526,973,2021,Local industriel. commercial ou assimilÃ©,170669.285714
1527,973,2021,Maison,200024.313333

In [237]:
moy_dep_l_2021 = moy_dep[(moy_dep['Type local'] == 'Local industriel. commercial ou assimilÃ©') & (moy_dep['year'] == 2021)]
moy_dep_l_2021[moy_dep_l_2021['Code departement'] == '75']['Valeur fonciere'] + 10000

1131    154000.0
Name: Valeur fonciere, dtype: float64

In [360]:
#On publie en csv pour le rÃ©utiliser plus tard
moy_dep_l_2021.to_csv("C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/moy_departement_locaux_2021.csv")

In [258]:
moy_dep_d_2021 = moy_dep[((moy_dep['Type local'] == 'DÃ©pendance') & (moy_dep['year'] == 2021))]

In [262]:
moy_dep_d_2021

Code departement  year  Type local  Valeur fonciere
1                 2021  DÃ©pendance  104086.679688      1
64                2021  DÃ©pendance  96387.032258       1
74                2021  DÃ©pendance  168001.595745      1
73                2021  DÃ©pendance  101753.000000      1
72                2021  DÃ©pendance  55709.064655       1
                                                      ..
35                2021  DÃ©pendance  91678.184358       1
34                2021  DÃ©pendance  84534.450617       1
33                2021  DÃ©pendance  119580.466019      1
32                2021  DÃ©pendance  77908.012987       1
974               2021  DÃ©pendance  68333.333333       1
Name: count, Length: 95, dtype: int64

In [275]:
new_df = pd.DataFrame({'Code departement':["971","973"],'year':[2021,2021], 'Type local':['DÃ©pendance','DÃ©pendance'],'Valeur fonciere' : [42213.333333,14000]}) #971,973 valeurs manquantes, on se base sur 2020

In [276]:
new_df

  Code departement  year  Type local  Valeur fonciere
0              971  2021  DÃ©pendance     42213.333333
1              973  2021  DÃ©pendance     14000.000000

In [277]:
moy_dep_d_2021 = pd.concat([moy_dep_d_2021,new_df])

In [361]:
moy_dep_d_2021.to_csv("C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/moy_departement_dependance_2021.csv")

In [280]:
#On sÃ©pare le csv en 4 selon le type local
df_fin_test = df_fin

df_maison = df_fin_test[df_fin_test['Type local'] == 'Maison'][['Surface reelle bati', 'Prix m2 moyen commune']]
df_appart = df_fin_test[df_fin_test['Type local'] == 'Appartement'][['Surface reelle bati', 'Prix m2 moyen commune']]
df_locaux = df_fin_test[df_fin_test['Type local'] == 'Local industriel. commercial ou assimilÃ©']
df_dep = df_fin_test[df_fin_test['Type local'] == 'DÃ©pendance']

In [310]:
#Fonction retournant le prix des locaux
def return_valuerfm(row):
    dep = row['Code departement']
    valeur = moy_dep_l_2021[moy_dep_l_2021['Code departement'] == dep]['Valeur fonciere'] + 10000
    row.loc['y_pred'] = valeur.item()
    return valeur.item()

In [282]:
#Fonction retournant le prix des dÃ©pendances
def return_valeurfdep(row):
    dep = row['Code departement']
    valeur = moy_dep_d_2021[moy_dep_d_2021['Code departement'] == dep]['Valeur fonciere'] 
    row.loc['y_pred'] = valeur.item()
    return valeur.item()

In [283]:
#PrÃ©diction des ventes
df_fin_test.loc[df_maison.index,'y_pred'] = prix_model_maison.predict(df_maison)
df_fin_test.loc[df_appart.index,'y_pred'] = prix_model_appart.predict(df_appart)
df_fin_test.loc[df_locaux.index,'y_pred'] = df_locaux.apply(return_valuerfm, axis=1)

df_fin_test.loc[df_dep.index,'y_pred'] = df_dep.apply(return_valeurfdep, axis=1)

# Fonction de prÃ©diction pour DASH

In [5]:
import pandas as pd
import pickle

In [74]:
###### Fonction de prÃ©diction pour dash

# moy des prix des valeurs foncieres des locaux en fonction des departements en 2021
moy_dep_l_2021 = pd.read_csv(filepath_or_buffer="C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/moy_departement_locaux_2021.csv")
# moy des prix des valeurs foncieres des dÃ©pendances en fonction des departements en 2021
moy_dep_d_2021 = pd.read_csv(filepath_or_buffer="C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/moy_departement_dependance_2021.csv")

prix_m2_com_region = pd.read_csv(filepath_or_buffer="C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/prix_m2_com_region.csv")

#On importe le modÃ¨le pickle pour le prix
prix_model_maison = pickle.load(open('reg_prix_maison.pkl', 'rb'))
prix_model_appart = pickle.load(open('reg_prix_appart.pkl', 'rb'))



def prediction(Type_loc,Surface,region, commune):

    prix_m2 = prix_m2_com_region[(prix_m2_com_region['Commune'] == commune) & (prix_m2_com_region['Code departement'] == region)]['Prix m2 moyen commune']
    d = {'Surface reelle bati' : Surface, 'Prix m2 moyen commune' : prix_m2}
    df = pd.DataFrame(data = d)
    if(Type_loc == 'Maison'):
        result = pd.DataFrame(prix_model_maison.predict(df)).iloc[0]
    elif (Type_loc == 'Appartement'):
        result = pd.DataFrame(prix_model_appart.predict(df)).iloc[0]
    elif (Type_loc == 'DÃ©pendance'):
        result = moy_dep_d_2021[moy_dep_d_2021['Code departement']== region]['Valeur fonciere']
    else :
        result = moy_dep_l_2021[moy_dep_d_2021['Code departement']== region]['Valeur fonciere'] + 10000

    return result.iloc[0]

In [75]:
prix_m2_com_region[prix_m2_com_region['Commune'] == 'SAINT-JUST']
prix_m2_com_region[(prix_m2_com_region['Commune'] == 'SAINT-JUST') & (prix_m2_com_region['Code departement'] == '63')]

,Commune,Code departement,Code commune,Prix m2 moyen region,Prix m2 moyen commune
20058,SAINT-JUST,63,371,1744.094693,304.545455

In [80]:
result = prediction('DÃ©pendance', 300, '63', 'SAINT-JUST')

In [81]:
result

54849.051094890514

### Test de notre modÃ¨le sur 2018, 2019 ,2020 ,2021 et stat descriptive pour vÃ©rifier

In [309]:
def test_meansquare(df):

    df_m = df[df['Type local'] == 'Maison'][['Surface reelle bati', 'Prix m2 moyen commune']]
    df_a = df[df['Type local'] == 'Appartement'][['Surface reelle bati', 'Prix m2 moyen commune']]
    df_l = df[df['Type local'] == 'Local industriel. commercial ou assimilÃ©']
    #print(df_l)
    df_d = df[df['Type local'] == 'DÃ©pendance']


    df.loc[df_m.index,'y_pred'] = prix_model_maison.predict(df_m)
    df.loc[df_a.index,'y_pred'] = prix_model_appart.predict(df_a)
    df.loc[df_l.index,'y_pred'] = df_l.apply(return_valuerfm, axis=1)
    df.loc[df_d.index,'y_pred'] = df_d.apply(return_valeurfdep, axis=1)

    return df

In [318]:
##### Test de la fonction sur 2021
url2 = "C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Depot_data/concat_prix_m2_lati.csv"
df = pd.read_csv(filepath_or_buffer= url2 ,sep='|')

df_2021 = df[df['year']==2021]
df_2021['Code departement'] = df_2021['Code departement'].astype(str)
df_2020 = df[df['year']==2020]
df_2020['Code departement'] = df_2020['Code departement'].astype(str)
df_2019 = df[df['year']==2019]
df_2019['Code departement'] = df_2019['Code departement'].astype(str)
df_2018 = df[df['year']==2018]
df_2018['Code departement'] = df_2018['Code departement'].astype(str)

C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\2385077074.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath_or_buffer= url2 ,sep='|')
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\2385077074.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['Code departement'] = df_2021['Code departement'].astype(str)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\2385077074.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['Code departement'] = df_2020['Code departement'].astype(str)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\2385077074.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['Code departement'] = df_2019['Code departement'].astype(str)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\2385077074.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['Code departement'] = df_2018['Code departement'].astype(str)

In [319]:
df_2021_rt = test_meansquare(df_2021)
df_2020_rt = test_meansquare(df_2020)
df_2019_rt = test_meansquare(df_2019)
df_2018_rt = test_meansquare(df_2018)

C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\4214618910.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df_m.index,'y_pred'] = prix_model_maison.predict(df_m)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\4214618910.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df_m.index,'y_pred'] = prix_model_maison.predict(df_m)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\4214618910.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df_m.index,'y_pred'] = prix_model_maison.predict(df_m)
C:\Users\pierr\AppData\Local\Temp\ipykernel_11832\4214618910.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df_m.index,'y_pred'] = prix_model_maison.predict(df_m)

In [320]:
from sklearn.metrics import mean_squared_error
mse_2021 = mean_squared_error(y_pred=df_2021_rt['y_pred'],y_true=df_2021_rt['Valeur fonciere'], squared=False)
mse_2020 = mean_squared_error(y_pred=df_2020_rt['y_pred'],y_true=df_2020_rt['Valeur fonciere'], squared=False)
mse_2019 = mean_squared_error(y_pred=df_2019_rt['y_pred'],y_true=df_2019_rt['Valeur fonciere'], squared=False)
mse_2018 = mean_squared_error(y_pred=df_2018_rt['y_pred'],y_true=df_2018_rt['Valeur fonciere'], squared=False)

In [325]:
pd.DataFrame([mse_2021,mse_2020,mse_2019,mse_2018], index=[2021,2020,2019,2018], columns= ["RMSE"])

              RMSE
2021  63294.511432
2020  60597.021901
2019  59448.873555
2018  58813.127340

In [284]:
df_fin_test[df_fin_test['y_pred'] == 0]

Empty DataFrame
Columns: [Type local, Surface reelle bati, Code departement, Nombre pieces principales, year, latitude, longitude, Prix m2 moyen region, Prix m2 moyen commune, y_pred]
Index: []

In [331]:
df_sample_sub = pd.read_csv("C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Kaggle/sample_submission.csv", sep=",")

In [342]:
df_sample_sub

            ID  TARGET
0            1  199999
1            2  199999
2            3  199999
3            4  199999
4            5  199999
...        ...     ...
378036  378037  199999
378037  378038  199999
378038  378039  199999
378039  378040  199999
378040  378041  199999

[378041 rows x 2 columns]

In [344]:
df_fin_test['y_pred']

0          57625.403636
1         265767.059914
2         321119.990784
3         170925.512168
4         262092.653293
              ...
378036    240725.229974
378037       500.000000
378038    154000.000000
378039       500.000000
378040       500.000000
Name: y_pred, Length: 378041, dtype: float64

In [343]:
df_sub_kaggle = df_fin_test['y_pred']

In [353]:
df_sub_kaggle.index += 1

In [354]:
df_sub_kaggle

1          57625.403636
2         265767.059914
3         321119.990784
4         170925.512168
5         262092.653293
              ...
378037    240725.229974
378038       500.000000
378039    154000.000000
378040       500.000000
378041       500.000000
Name: y_pred, Length: 378041, dtype: float64

In [359]:
#Export des pred pour la prÃ©diction Kaggle
df_sub_kaggle.to_csv("C:/Users/pierr/Documents/1_projet_python/Valeur_fonciere/Kaggle/PAF_2110_submission.csv",sep = ",",header=True, index=True, index_label='ID')

In [248]:
df_fin_test.loc[[31697,31066,173790,55712]]

,Type local,Surface reelle bati,Code departement,Nombre pieces principales,year,latitude,longitude,Prix m2 moyen region,Prix m2 moyen commune,y_pred
31697,Maison,110.0,12,5.0,2022,44.447552,2.254128,1358.640217,0.008929,64532.553236
31066,Maison,132.0,12,6.0,2022,44.447552,2.254128,1358.640217,0.008929,64532.553236
173790,Maison,83.0,51,4.0,2022,49.196271,4.924890,2064.405883,0.010417,64532.553236
55712,Maison,105.0,18,4.0,2022,47.491477,2.569732,1132.497445,0.020000,64532.553236

In [287]:
df_fin[(df_fin['Type local'] == 'Local industriel. commercial ou assimilÃ©')]

,Type local,Surface reelle bati,Code departement,Nombre pieces principales,year,latitude,longitude,Prix m2 moyen region,Prix m2 moyen commune,y_pred
19,Local industriel. commercial ou assimilÃ©,286.0,1,0.0,2022,46.205152,5.246021,2315.872738,2509.869124,154458.757143
20,Local industriel. commercial ou assimilÃ©,75.0,1,4.0,2022,46.226004,5.610954,2315.872738,2026.838886,154458.757143
52,Local industriel. commercial ou assimilÃ©,382.0,1,0.0,2022,46.205152,5.246021,2315.872738,2509.869124,154458.757143
61,Local industriel. commercial ou assimilÃ©,2100.0,1,0.0,2022,46.325281,5.112960,2315.872738,1743.290829,154458.757143
86,Local industriel. commercial ou assimilÃ©,875.0,1,0.0,2022,45.844210,4.941067,2315.872738,3525.708737,154458.757143
...,...,...,...,...,...,...,...,...,...,...
378025,Local industriel. commercial ou assimilÃ©,155.0,75,0.0,2022,48.835156,2.419807,10069.780223,9922.648119,154000.000000
378026,Local industriel. commercial ou assimilÃ©,15.0,75,0.0,2022,48.828993,2.327101,10069.780223,10358.062737,154000.000000
378029,Local industriel. commercial ou assimilÃ©,53.0,75,0.0,2022,48.835156,2.419807,10069.780223,9922.648119,154000.000000
378032,Local industriel. commercial ou assimilÃ©,428.0,75,0.0,2022,48.848968,2.332671,10069.780223,12965.121910,154000.000000
378038,Local industriel. commercial ou assimilÃ©,327.0,75,0.0,2022,48.828993,2.327101,10069.780223,10358.062737,154000.000000

In [288]:
df_fin_test.sort_values(by='y_pred')

,Type local,Surface reelle bati,Code departement,Nombre pieces principales,year,latitude,longitude,Prix m2 moyen region,Prix m2 moyen commune,y_pred
378040,DÃ©pendance,0.0,75,0.0,2022,48.859415,2.378741,10069.780223,10422.853766,500.000000
368538,DÃ©pendance,0.0,75,0.0,2022,48.887337,2.307486,10069.780223,10184.843429,500.000000
368537,DÃ©pendance,0.0,75,0.0,2022,48.892735,2.348712,10069.780223,9615.093107,500.000000
368535,DÃ©pendance,0.0,75,0.0,2022,48.887337,2.307486,10069.780223,10184.843429,500.000000
368530,DÃ©pendance,0.0,75,0.0,2022,48.887337,2.307486,10069.780223,10184.843429,500.000000
...,...,...,...,...,...,...,...,...,...,...
269102,Maison,128.0,77,4.0,2022,48.787141,2.614074,3049.798215,4048.370045,382238.854369
357696,Maison,176.0,95,6.0,2022,48.991864,2.321198,3628.241928,4315.049932,382238.854369
277275,Maison,152.0,78,4.0,2022,48.791088,1.851489,3898.308462,4220.183486,382238.854369
189293,Maison,160.0,56,5.0,2022,47.488166,-3.122824,2353.124065,4039.223129,382238.854369
277195,Maison,144.0,78,8.0,2022,48.846949,2.135191,3898.308462,4014.132166,382238.854369

In [326]:
print('Local')
print(df_fin_test[df_fin_test['Type local'] == 'Local industriel. commercial ou assimilÃ©']['y_pred'].describe().apply(lambda x: format(x, 'f')))
print('maison')
print(df_fin_test[df_fin_test['Type local'] == 'Maison']['y_pred'].describe().apply(lambda x: format(x, 'f')))
print('Appartement')
print(df_fin_test[df_fin_test['Type local'] == 'Appartement']['y_pred'].describe().apply(lambda x: format(x, 'f')))
print('DÃ©pendance')
print(df_fin_test[df_fin_test['Type local'] == 'DÃ©pendance']['y_pred'].describe().apply(lambda x: format(x, 'f')))

Local
count     26713.000000
mean     159334.296786
std       54706.178674
min       44042.550000
25%      121986.409091
50%      154000.000000
75%      199854.656250
max      329616.666667
Name: y_pred, dtype: object
maison
count    228864.000000
mean     206132.562977
std       95480.583179
min       35714.976947
25%      130079.006351
50%      195321.008412
75%      282730.949289
max      382238.854369
Name: y_pred, dtype: object
Appartement
count     76133.000000
mean     161467.966199
std       84356.117694
min       37921.350396
25%       96549.344678
50%      142975.842209
75%      208461.583502
max      360953.564418
Name: y_pred, dtype: object
DÃ©pendance
count     46331.000000
mean     110480.346204
std       67188.302528
min         500.000000
25%       71501.550000
50%       97600.827586
75%      156537.189189
max      282500.000000
Name: y_pred, dtype: object

count       378041.000000
mean        244453.226313
std        1207724.306522
min           1234.333333
25%          89219.014116
50%         160657.707663
75%         259491.888280
max      160242591.852288
Name: y_pred, dtype: float64
count    418379.000000
mean     177645.918172
std      108670.010649
min           0.000000
25%       93000.000000
50%      160000.000000
75%      244000.000000
max      498000.000000

In [144]:
prix_model_maison.predict(df_fin_test[df_fin_test['Type local'] == 'Maison'][['Surface reelle bati', 'Prix m2 moyen commune']]).size

228864